.App {
    min-height: 100vh;
}

.nav {
    
    .nav-link{
        border-bottom: 2px solid transparent;
        &.active {
            border-bottom-color: #0d6efd;
        }
    }
}

.page-wrapper {
    padding: 32px 0;
}

#apartment-form-view {
    max-width: 650px;
}

.table-icon {
    width: 18px;
    &.check {
        fill: rgb(25, 135, 84)
    }
    &.xmark {
        fill: red;

    }
}